@import "resources";

html,
body {
	margin: 0px;
	background-color: whitesmoke;
	overflow-x: hidden;
}
body {
	opacity: 0;
	transition: 0.3s;

	&.fade-in {
		opacity: 1;
	}
}

//Navbar

//Color Variables
$color1: #eabeaf; //Red
$color2: whitesmoke; //Whitesmoke
$color3: #903749; //Maroon

// Base Styles

h1 {
	font-size: 3em;
	a {
		text-decoration: none;
	}
}

.navBar {
	background-color: $color2;
	min-width: 100%;
}

.logo {
	display: inline-block;
	margin: 0;
	h1 {
		margin: 0;
		text-decoration: none;
		color: black;
	}
}

// Content Wrapper
.wrapper {
	margin: 0px auto;
	padding: 0 2%;
}

// Full Navigation, including mobile menu
nav {
	ul {
		display: flex;
		justify-content: space-between;
		list-style-type: none;
		width: 50%;

		a {
			color: $color1;
			text-decoration: none;
			transition: all 0.5s ease;

			&:hover {
				color: $color3;
			}
		}
	}

	li {
		display: inline-block;
	}

	#menu-toggle {
		display: none;
	}

	.label-toggle {
		display: none;
	}

	.wrapper {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}

	@media screen and (min-width: 768px) {
		nav {
			.logo {
				h1 {
					font-family: "Playfair Display SC";
					font-style: italic;
					text-shadow: 1px 1px $color1;
				}
				a {
					text-decoration: none;
				}
			}
			ul {
				padding-left: 0;
				a {
					color: $color2;
					text-transform: uppercase;
					letter-spacing: 2px;
				}
			}
		}
		ul {
			background-color: $color1;
			display: block;
			height: 0;
			list-style-type: none;
			opacity: 0;
			text-align: center;
			transition: all 1s ease;
			width: 100%;
			visibility: hidden;
		}

		li {
			border-bottom: 2px solid $color2;
			color: $color2;
			display: block;
			font-size: 1.5em;
			padding: 2em 0;
		}

		#menu-toggle:checked ~ ul {
			opacity: 1;
			height: 60vh;
			visibility: visible;
		}

		.label-toggle {
			background: linear-gradient(
				to bottom,
				$color1 0%,
				$color1 20%,
				transparent 20%,
				transparent 40%,
				$color1 40%,
				$color1 60%,
				transparent 60%,
				transparent 80%,
				$color1 80%,
				$color1 100%
			); //Gradient Hamburger
			cursor: pointer;
			display: block;
			float: right;
			height: 35px;
			margin-top: 1em;
			width: 35px;
		}

		.wrapper {
			display: block;
			padding: 40px 115px;
		}
	}
}

// 1. -- Header
.page-id-38 nav {
	display: none;
}

// 2. Home Page
.landing-wrap {
	.inner-wrap {
		display: flex;
		flex-wrap: wrap;
		height: 100vh;
		text-transform: uppercase;
		.page-wrap {
			background-size: cover;
			background-position: center;
			flex: 1;
			display: flex;
			flex-direction: column;
			opacity: 0.6;

			.content-wrap {
				display: flex;
				flex-direction: row;
				justify-content: left;
				height: 80vh;
				width: 100vw;
				.title {
					align-items: flex-start;
					flex: 1;

					h1 {
						font-family: "Playfair Display SC";
						font-style: italic;
						font-weight: 400;
						font-size: 60px;
						color: #eabeaf;
						letter-spacing: 6px;
						margin: 0;
						padding: 60px 0 0 60px;
						text-shadow: 2px 2px #251212;
					}
					a {
						text-decoration: none;
					}
					a:visited {
						color: white;
					}
				}
			}
		}
		.clear-wrap {
			background-color: transparent;
			flex: 1;
			justify-content: left;
			align-items: left;

			h1 {
				color: white;
				margin-bottom: 1rem;
			}

			menu {
				display: -webkit-flex;
				display: -ms-flexbox;
				display: flex;
				position: relative;
				padding: 0px;
				li {
					display: block;
					list-style: none;
					padding: 0 0.5em;
				}
				a {
					color: #eabeaf;
					display: block;
					line-height: 2.5em;
					text-decoration: none;
					font-size: 18px;
					letter-spacing: 4px;
					font-family: "Raleway";
				}
				.link {
					position: relative;
				}
				.link:after {
					content: "";
					position: absolute;
					width: 0;
					height: 1px;
					display: block;
					margin-top: 5px;
					right: 0;
					background: darkgrey;
					transition: width 0.3s ease;
					-webkit-transition: width 0.3s ease;
				}

				.link:hover:after {
					width: 100%;
					left: 0;
					background: #eabeaf {
						position: relative;
					}
				}
				div {
					padding: 0 40px;
				}
				.arrow-wrap {
					display: flex;
					justify-content: flex-end;
				}
			}
			i.fas.fa-arrow-circle-down {
				flex-grow: 3;
				font-size: 40px;
				opacity: 0.7;
				text-align: center;
			}
		}
	}
}
.about-wrap-photo {
	background-color: #eabeaf;
	.content-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 120px 0;
		.image-wrap {
			img {
				height: 30vw;
				padding: 0 50px;
			}
		}
		.text-wrap {
			font-family: "Raleway";
			font-size: 24px;
			line-height: 2;
			p {
				margin: 0;
				padding: 0 40px;
			}
		}
	}
}
.about-wrap-dev {
	background-color: #d8b2a6;
	.content-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 120px 0;
		opacity: 0.9;
		.image-wrap {
			img {
				height: 30vw;
				padding: 0 50px;
			}
		}
		.text-wrap {
			font-family: "Raleway";
			font-size: 24px;
			line-height: 2;
			p {
				margin: 0;
				padding: 0 40px;
			}
		}
	}
}
.about-wrap-astro {
	background-color: #cca096;
	.content-wrap {
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: 120px 0;
		opacity: 0.9;
		.image-wrap {
			img {
				height: 30vw;
				padding: 0 30px;
			}
		}
		.text-wrap {
			font-family: "Raleway";
			font-size: 24px;
			line-height: 2;
			p {
				margin: 0;
				padding: 0 30px;
			}
		}
	}
}
.bottom-navbar-landing {
	background-color: #cca096;
	padding: 20px 0;
	color: whitesmoke;

	ul {
		margin: 0;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		padding: 0;
		font-family: "Raleway";
		li {
			a {
				text-decoration: none;
				color: whitesmoke;
				text-transform: uppercase;
				letter-spacing: 2px;
			}
		}
	}
}
.page-id-38 footer {
	display: none;
}

// Simple Footer Used For Photo, Dev, and Astro Page (Different than regular footer)
.page-footer {
	display: flex;
	justify-content: space-between;
	margin: 0 40px;
	a {
		font-family: "Raleway";
		font-size: 20px;
		text-transform: uppercase;
		text-decoration: none;
		letter-spacing: 4px;
		color: #eabeaf;
		line-height: 2.5em;
		padding-right: 15px;
	}
	.footer-menu-1 {
		justify-content: flex-start;
	}
	.footer-menu-2 {
		display: flex;
		flex-direction: column;
		.menu-right {
			align-self: flex-end;
		}
	}
}

// 3. Main Photography Page
.site-wrap {
	.main-wrap {
		display: flex;
		flex-direction: row;
		background-color: whitesmoke;
		font-family: "Work Sans";
		a {
			color: black;
			text-decoration: none;
			text-transform: uppercase;
			font-family: "Work Sans";
			font-weight: 200;
		}
		.left-wrap {
			display: flex;
			flex-direction: column;

			.left-upper {
				height: 40vh;
				width: 25vw;
				display: flex;

				justify-content: center;
				.content-wrap {
					transform: rotate(90deg);
				}
			}
			.left-lower {
				height: 40vh;
				width: 25vw;
				display: flex;
				justify-content: center;
				.content-wrap {
					transform: rotate(90deg);
				}
			}
		}
		.image-container {
			height: 80vh;
			width: 50vw;
		}
		.right-wrap {
			display: flex;
			flex-direction: column;
			.right-upper {
				height: 40vh;
				width: 25vw;
				display: flex;
				justify-content: center;
				.content-wrap {
					transform: rotate(90deg);
				}
			}
			.right-lower {
				height: 40vh;
				width: 25vw;
				display: flex;
				justify-content: center;
				.content-wrap {
					transform: rotate(90deg);
				}
			}
		}
	}
	.bottom-wrap {
		background-color: whitesmoke;
		display: flex;

		.bar-wrap {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
		}
	}
}

// Main Developer Page
#dev-page {
	.page-wrap {
		background-size: cover;
		background-position: center;
		.row {
			display: flex;
			justify-content: center;
			margin-left: 30px;
			margin-right: 30px;
		}
		.box {
			width: 45vw;
			height: 45vh;
			opacity: 0.5;
			margin: 20px;
			.content-wrap {
				.text-overlay {
					color: whitesmoke;
					font-size: 50px;
					opacity: 0;
					width: 45vw;
					height: 40vh;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-content: center;
					text-align: center;
					a {
						text-decoration: none;
						color: whitesmoke;
						display: block;
						line-height: 2em;
						margin-top: -1em;
						font-family: "Raleway";
						top: 10%;
					}

					.link {
						position: relative;
					}
					.link:after {
						content: "";
						position: relative;
						width: 0;
						height: 3px;
						display: block;
						margin-top: 5px;
						right: 0;
						background: whitesmoke;
						transition: width 0.3s ease;
						-webkit-transition: width 0.3s ease;
					}

					.link:hover:after {
						width: 100%;
						left: 0;
						background: whitesmoke {
							position: relative;
						}
					}
				}
				.text-overlay:hover {
					opacity: 1;
					transition: 0.3s ease;
				}
			}
		}
		.box:hover {
			opacity: 1;
			transition: 0.3s ease;
			filter: drop-shadow(0 0 30px #333);
		}
		.box1 {
			background-color: orange;
		}
		.box2 {
			background-color: lightgreen;
		}
		.box3 {
			background-color: blue;
		}
		.box4 {
			background-color: red;
		}
		.box5 {
			background-color: pink;
		}
		.box6 {
			background-color: yellow;
		}
	}
}

// Photo Project Page
.scrolling-wrapper {
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin-left: 100px;
	margin-right: 100px;

	&::-webkit-scrollbar {
		display: none;
	}
	.card {
		display: flex;
		flex: 0 0 auto;

		img {
			height: 70vh;
			padding: 0px 20px 20px 0;
		}
	}
}

// Astro Project Page

.page-id-214 header {
	display: none;
}
.page-id-214 footer {
	display: none;
}

.slider-wrap {
	position: relative;
	.slick-dots {
		position: absolute;
		bottom: 0;
		color: blue;
		display: inline-block;
		top: 40%;
		bottom: auto;
		left: 95%;
		li {
			display: block;
		}
		li button:before {
			color: whitesmoke;
		}
		li.slick-active button:before {
			color: whitesmoke;
		}
	}

	div {
		margin: 0;
		padding: 0;
		background-size: cover;
		background-position: center;
		height: 100vh;
	}
}
.slick-vertical .slick-slide {
	border: none !important;
}

// About Me Page
.about-me-wrap {
	display: flex;
	background-color: #f8c8bb;
	.content-wrap {
		display: flex;
		flex-direction: row;
		padding: 120px 0;
		.image-wrap {
			padding: 0 100px;
			img {
				height: 40vw;
			}
		}
		.text-wrap {
			display: flex;
			font-family: "Raleway";
			flex-direction: column;
			color: black;
			font-size: 24px;
			line-height: 2;
			padding-right: 30px;
		}
	}
}
